# **Digital Learning Impact Analysis for Rural Education in India (SDG 4)**

In [1]:
# Importing required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import warnings
warnings.filterwarnings('ignore')

In [2]:
# Mounting Google Drive for data access
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
# File Paths (replace with your actual file paths from Google Drive)
education_file = '/content/drive/MyDrive/Major_Project/Education_in_India.csv'
internet_file = '/content/drive/MyDrive/Major_Project/Internet_Usage_Rural_vs_Urban.csv'
literacy_file = '/content/drive/MyDrive/Major_Project/Literacy_Rate_India.csv'
enrollment_file = '/content/drive/MyDrive/Major_Project/Student_Enrollment.csv'
dropout_file = '/content/drive/MyDrive/Major_Project/Dropout_Rates.csv'

In [4]:
# Loading the datasets
education_df = pd.read_csv(education_file)
internet_df = pd.read_csv(internet_file)
literacy_df = pd.read_csv(literacy_file)
enrollment_df = pd.read_csv(enrollment_file)
dropout_df = pd.read_csv(dropout_file)

In [5]:
# Previewing the datasets
print('Education Dataset:')
display(education_df.head())

print('\nInternet Usage Dataset:')
display(internet_df.head())

print('\nLiteracy Rate Dataset:')
display(literacy_df.head())

print('\nStudent Enrollment Dataset:')
display(enrollment_df.head())

print('\nDropout Rates Dataset:')
display(dropout_df.head())

Education Dataset:

,AC_YEAR,STATCD,DISTCD,STATNAME,DISTNAME,DISTRICTS,BLOCKS,VILLAGES,CLUSTERS,TOTPOPULAT,...,UUNI_ALL,UUNI_SC,UUNI_ST,TOTCLS1G,TOTCLS2G,TOTCLS3G,TOTCLS4G,TOTCLS5G,TOTCLS6G,TOTCLS7G
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209

Internet Usage Dataset:

,States/UTs,Area,Women (age 15-49) who have ever used the internet (%),Men (age 15-49) who have ever used the internet (%)
0,India,Urban,51.8,72.5
1,India,Rural,24.6,48.7
2,India,Total,33.3,57.1
3,Andaman & Nicobar Islands,Urban,44.1,54.6
4,Andaman & Nicobar Islands,Rural,27.9,41.1

Literacy Rate Dataset:

,Category,Country/ States/ Union Territories Name,Literacy Rate (Persons) - Total - 2001,Literacy Rate (Persons) - Total - 2011,Literacy Rate (Persons) - Rural - 2001,Literacy Rate (Persons) - Rural - 2011,Literacy Rate (Persons) - Urban - 2001,Literacy Rate (Persons) - Urban - 2011
0,Country,INDIA,64.8,73.0,58.7,67.8,79.9,84.1
1,State,Andhra Pradesh,60.5,67.0,54.5,60.4,76.1,80.1
2,State,Arunachal Pradesh,54.3,65.4,47.8,59.9,78.3,82.9
3,State,Assam,63.3,72.2,59.7,69.3,85.3,88.5
4,State,Bihar,47.0,61.8,43.9,59.8,71.9,76.9

Student Enrollment Dataset:

,ISO3,Countries and areas,Region,Sub-region,Income Group,Total,Residence Rural,Residence Urban,Wealth quintile Poorest,Wealth quintile Richest,Data source,Time period
0,DZA,Algeria,MENA,MENA,Upper middle income (UM),25%,10%,33%,1%,78%,Multiple Indicator Cluster Survey,2018-19
1,AGO,Angola,SSA,ESA,Lower middle income (LM),19%,2%,27%,0%,62%,Demographic and Health Survey,2015-16
2,ARG,Argentina,LAC,LAC,Upper middle income (UM),43%,NaN,NaN,NaN,NaN,Multiple Indicator Cluster Survey,2011-12
3,ARM,Armenia,ECA,EECA,Upper middle income (UM),81%,71%,89%,44%,99%,Demographic and Health Survey,2015-16
4,BGD,Bangladesh,SA,SA,Lower middle income (LM),34%,31%,48%,8%,73%,Multiple Indicator Cluster Survey,2019

Dropout Rates Dataset:

,Rank,State,Capital,Population,% of Total Population,Males,Females,Sex Ratio,Literacy Rate (%),Rural Population,Urban Population,Area (km*km),Density (1/km*km),Decadal Growth (%)
0,1,Uttar Pradesh,Lucknow,"199,812,341",16.50,"104,480,510","95,331,831",912,67.68,"155,111,022","44,470,455","240,928",828,20.1%
1,2,Maharashtra,Mumbai,"112,374,333",9.28,"58,243,056","54,131,277",929,82.34,"61,545,441","50,827,531","307,713",365,16.0%
2,3,Bihar,Patna,"104,099,452",8.60,"54,278,157","49,821,295",918,61.80,"92,075,028","11,729,609","94,163","1,102",25.1%
3,4,West Bengal,Kolkata,"91,276,115",7.54,"46,809,027","44,467,088",950,76.26,"62,213,676","29,134,060","88,752","1,030",13.9%
4,5,Andhra Pradesh,Hyderabad,"84,580,777",6.99,"42,442,146","42,138,631",993,67.02,"56,361,702","28,219,075","275,045",308,10.98%

In [6]:
# Basic Data Information
print('\nBasic Information about Datasets:')
education_df.info()
internet_df.info()
literacy_df.info()
enrollment_df.info()
dropout_df.info()

Basic Information about Datasets:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 680 entries, 0 to 679
Columns: 819 entries, AC_YEAR to TOTCLS7G
dtypes: float64(13), int64(803), object(3)
memory usage: 4.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 111 entries, 0 to 110
Data columns (total 4 columns):
 #   Column                                                  Non-Null Count  Dtype
---  ------                                                  --------------  -----
 0   States/UTs                                              111 non-null    object
 1   Area                                                    111 non-null    object
 2   Women (age 15-49)  who have ever used the internet (%)  111 non-null    object
 3   Men (age 15-49)  who have ever used the internet (%)    111 non-null    object
dtypes: object(4)
memory usage: 3.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 8 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   Category                                 36 non-null     object
 1   Country/ States/ Union Territories Name  36 non-null     object
 2   Literacy Rate (Persons) - Total - 2001   36 non-null     float64
 3   Literacy Rate (Persons) - Total - 2011   36 non-null     float64
 4   Literacy Rate (Persons) - Rural - 2001   36 non-null     float64
 5   Literacy Rate (Persons) - Rural - 2011   36 non-null     float64
 6   Literacy Rate (Persons) - Urban - 2001   36 non-null     float64
 7   Literacy Rate (Persons) - Urban - 2011   36 non-null     float64
dtypes: float64(6), object(2)
memory usage: 2.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87 entries, 0 to 86
Data columns (total 12 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   ISO3                     87 non-null     object
 1   Countries and areas      87 non-null     object
 2   Region                   87 non-null     object
 3   Sub-region               87 non-null     object
 4   Income Group             87 non-null     object
 5   Total                    87 non-null     object
 6   Residence Rural          77 non-null     object
 7   Residence Urban          80 non-null     object
 8   Wealth quintile Poorest  70 non-null     object
 9   Wealth quintile Richest  68 non-null     object
 10  Data source              87 non-null     object
 11  Time period              87 non-null     object
dtypes: object(12)
memory usage: 8.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 14 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Rank                   35 non-null     int64
 1   State                  35 non-null     object
 2   Capital                34 non-null     object
 3   Population             35 non-null     object
 4   % of Total Population  35 non-null     float64
 5   Males                  35 non-null     object
 6   Females                35 non-null     object
 7   Sex Ratio              35 non-null     object
 8   Literacy Rate (%)      35 non-null     float64
 9   Rural Population       35 non-null     object
 10  Urban Population       35 non-null     object
 11  Area (km*km)           35 non-null     object
 12  Density (1/km*km)      35 non-null     object
 13  Decadal Growth (%)     35 non-null     object
dtypes: float64(2), int64(1), object(11)
memory usage: 4.0+ KB

In [7]:
# Checking for missing values
print('\nMissing Values in Datasets:')
print('Education Dataset:', education_df.isnull().sum().sum())
print('Internet Usage Dataset:', internet_df.isnull().sum().sum())
print('Literacy Rate Dataset:', literacy_df.isnull().sum().sum())
print('Student Enrollment Dataset:', enrollment_df.isnull().sum().sum())
print('Dropout Rates Dataset:', dropout_df.isnull().sum().sum())

Missing Values in Datasets:
Education Dataset: 569
Internet Usage Dataset: 0
Literacy Rate Dataset: 0
Student Enrollment Dataset: 53
Dropout Rates Dataset: 1

In [8]:
# Initial Data Cleaning (Dropping NaNs and duplicates)
education_df.dropna(inplace=True)
education_df.drop_duplicates(inplace=True)

internet_df.dropna(inplace=True)
internet_df.drop_duplicates(inplace=True)

literacy_df.dropna(inplace=True)
literacy_df.drop_duplicates(inplace=True)

enrollment_df.dropna(inplace=True)
enrollment_df.drop_duplicates(inplace=True)

dropout_df.dropna(inplace=True)
dropout_df.drop_duplicates(inplace=True)

print('\nData cleaning completed.')

Data cleaning completed.

In [9]:
# Basic Summary Statistics
print('\nBasic Summary Statistics:')
print('\nEducation Data:')
print(education_df.describe())

print('\nInternet Usage Data:')
print(internet_df.describe())

print('\nLiteracy Rate Data:')
print(literacy_df.describe())

print('\nStudent Enrollment Data:')
print(enrollment_df.describe())

print('\nDropout Rates Data:')
print(dropout_df.describe())

Basic Summary Statistics:

Education Data:
           STATCD       DISTCD  DISTRICTS      BLOCKS     VILLAGES  \
count  625.000000   625.000000      625.0  625.000000   625.000000
mean    17.123200  1728.449600        1.0   11.196800   902.617600
std      9.585606   957.614955        0.0    9.844854   634.078639
min      1.000000   101.000000        1.0    1.000000     6.000000
25%      9.000000   928.000000        1.0    6.000000   399.000000
50%     18.000000  1817.000000        1.0    9.000000   819.000000
75%     24.000000  2410.000000        1.0   13.000000  1234.000000
max     36.000000  3610.000000        1.0   66.000000  3963.000000

         CLUSTERS    TOTPOPULAT   P_URB_POP  POPULATION_0_6  GROWTHRATE  ...  \
count  625.000000  6.250000e+02  625.000000    6.250000e+02  625.000000  ...
mean   124.952000  1.888816e+06   24.721488    2.487723e+05   17.700576  ...
std     96.306507  1.518239e+06   18.988409    1.963243e+05   11.293000  ...
min      1.000000  7.948000e+03  -25.350000    1.103980e+03  -58.390000  ...
25%     60.000000  8.240590e+05   11.370000    1.092593e+05   12.080000  ...
50%    105.000000  1.563107e+06   19.400000    2.040779e+05   17.090000  ...
75%    167.000000  2.585962e+06   32.400000    3.374011e+05   22.780000  ...
max    592.000000  1.105413e+07  100.000000    1.256855e+06  111.010000  ...

            UUNI_ALL        UUNI_SC       UUNI_ST      TOTCLS1G      TOTCLS2G  \
count     625.000000     625.000000    625.000000    625.000000    625.000000
mean    47976.334400   11857.083200   5388.812800   4718.425600   3251.440000
std     59291.695536   17020.437047   9558.063282   3957.180655   3349.302481
min         0.000000       0.000000      0.000000     24.000000      0.000000
25%      7408.000000     715.000000    158.000000   2007.000000    712.000000
50%     33599.000000    7164.000000   1175.000000   3712.000000   2074.000000
75%     63080.000000   15701.000000   5766.000000   6183.000000   4935.000000
max    511213.000000  153047.000000  68723.000000  24728.000000  25677.000000

           TOTCLS3G     TOTCLS4G     TOTCLS5G      TOTCLS6G      TOTCLS7G
count    625.000000   625.000000   625.000000    625.000000    625.000000
mean     800.372800   926.480000   414.646400    733.729600    410.059200
std     1335.467712  1463.457884   848.541153   1142.826513    970.904971
min        0.000000     0.000000     0.000000      0.000000      0.000000
25%       79.000000    16.000000    20.000000    160.000000     22.000000
50%      277.000000   111.000000    84.000000    439.000000    120.000000
75%      955.000000  1414.000000   496.000000    866.000000    341.000000
max    16053.000000  8590.000000  8074.000000  15458.000000  11904.000000

[8 rows x 816 columns]

Internet Usage Data:
       States/UTs   Area  \
count         111    111
unique         37      3
top         India  Urban
freq            3     37

       Women (age 15-49)  who have ever used the internet (%)  \
count                                                 111
unique                                                106
top                                                 30.8
freq                                                    2

       Men (age 15-49)  who have ever used the internet (%)
count                                                 111
unique                                                 99
top                                                 79.7
freq                                                    2

Literacy Rate Data:
       Literacy Rate (Persons) - Total - 2001  \
count                               36.000000
mean                                69.433333
std                                 10.647709
min                                 47.000000
25%                                 62.975000
50%                                 68.700000
75%                                 77.225000
max                                 90.900000

       Literacy Rate (Persons) - Total - 2011  \
count                               36.000000
mean                                77.711111
std                                  8.497723
min                                 61.800000
25%                                 71.725000
50%                                 76.600000
75%                                 85.850000
max                                 94.000000

       Literacy Rate (Persons) - Rural - 2001  \
count                               36.000000
mean                                64.669444
std                                 11.459440
min                                 43.900000
25%                                 57.425000
50%                                 63.300000
75%                                 74.275000
max                                 90.000000

       Literacy Rate (Persons) - Rural - 2011  \
count                               36.000000
mean                                73.413889
std                                  9.190497
min                                 59.800000
25%                                 65.875000
50%                                 71.900000
75%                                 80.875000
max                                 93.000000

       Literacy Rate (Persons) - Urban - 2001  \
count                               36.000000
mean                                82.161111
std                                  5.463138
min                                 69.800000
25%                                 79.275000
50%                                 81.850000
75%                                 84.925000
max                                 96.100000

       Literacy Rate (Persons) - Urban - 2011
count                               36.000000
mean                                86.283333
std                                  4.982856
min                                 75.100000
25%                                 83.175000
50%                                 86.250000
75%                                 89.650000
max                                 97.600000

Student Enrollment Data:
       ISO3 Countries and areas Region Sub-region              Income Group  \
count    68                  68     68         68                        68
unique   68                  68      6          7                         4
top     DZA             Algeria    SSA        WCA  Upper middle income (UM)
freq      1                   1     26         16                        25

       Total Residence Rural Residence Urban Wealth quintile Poorest  \
count     68              68              68                      68
unique    46              40              48                      33
top       4%              1%             89%                      0%
freq       3               9               3                      24

       Wealth quintile Richest                        Data source Time period
count                       68                                 68          68
unique                      43                                 12          18
top                        99%  Multiple Indicator Cluster Survey        2018
freq                         6                                 42          13

Dropout Rates Data:
            Rank  % of Total Population  Literacy Rate (%)
count  34.000000              34.000000          34.000000
mean   17.970588               2.910294          78.257353
std    10.399549               3.713324           8.517944
min     1.000000               0.010000          61.800000
25%     9.250000               0.112500          72.360000
50%    17.500000               1.740000          78.620000
75%    26.750000               5.035000          86.000000
max    35.000000              16.500000          94.000000

In [10]:
# Data Preprocessing and Merging

# Renaming columns for consistency (if needed)
education_df.columns = education_df.columns.str.strip().str.lower().str.replace(' ', '_')
internet_df.columns = internet_df.columns.str.strip().str.lower().str.replace(' ', '_')
literacy_df.columns = literacy_df.columns.str.strip().str.lower().str.replace(' ', '_')
enrollment_df.columns = enrollment_df.columns.str.strip().str.lower().str.replace(' ', '_')
dropout_df.columns = dropout_df.columns.str.strip().str.lower().str.replace(' ', '_')

In [14]:
print("\nEducation Dataset Columns:\n", education_df.columns)
print("\nLiteracy Rate Dataset Columns:\n", literacy_df.columns)
print("\nInternet Usage Dataset Columns:\n", internet_df.columns)
print("\nStudent Enrollment Dataset Columns:\n", enrollment_df.columns)
print("\nDropout Rates Dataset Columns:\n", dropout_df.columns)

Education Dataset Columns:
 Index(['ac_year', 'statcd', 'distcd', 'statname', 'distname', 'districts',
       'blocks', 'villages', 'clusters', 'totpopulat',
       ...
       'uuni_all', 'uuni_sc', 'uuni_st', 'totcls1g', 'totcls2g', 'totcls3g',
       'totcls4g', 'totcls5g', 'totcls6g', 'totcls7g'],
      dtype='object', length=819)

Literacy Rate Dataset Columns:
 Index(['category', 'country/_states/_union_territories_name',
       'literacy_rate_(persons)_-_total_-_2001',
       'literacy_rate_(persons)_-_total_-_2011',
       'literacy_rate_(persons)_-_rural_-_2001',
       'literacy_rate_(persons)_-_rural_-_2011',
       'literacy_rate_(persons)_-_urban_-_2001',
       'literacy_rate_(persons)_-_urban_-_2011'],
      dtype='object')

Internet Usage Dataset Columns:
 Index(['states/uts', 'area',
       'women_(age_15-49)__who_have_ever_used_the_internet_(%)',
       'men_(age_15-49)__who_have_ever_used_the_internet_(%)'],
      dtype='object')

Student Enrollment Dataset Columns:
 Index(['iso3', 'countries_and_areas', 'region', 'sub-region', 'income_group',
       'total', 'residence_rural', 'residence_urban',
       'wealth_quintile_poorest', 'wealth_quintile_richest', 'data_source',
       'time_period'],
      dtype='object')

Dropout Rates Dataset Columns:
 Index(['rank', 'state', 'capital', 'population', '%_of_total_population',
       'males', 'females', 'sex_ratio', 'literacy_rate_(%)',
       'rural_population', 'urban_population', 'area_(km*km)',
       'density_(1/km*km)', 'decadal_growth_(%)'],
      dtype='object')

In [15]:
education_df.rename(columns={"STATNAME": "state"}, inplace=True)
literacy_df.rename(columns={"country/_states/_union_territories_name": "state"}, inplace=True)
internet_df.rename(columns={"states/uts": "state"}, inplace=True)
enrollment_df.rename(columns={"countries_and_areas": "state"}, inplace=True)
dropout_df.rename(columns={"state": "state"}, inplace=True)

In [16]:
print(set(education_df.columns).intersection(set(literacy_df.columns)))
print(set(education_df.columns).intersection(set(internet_df.columns)))
print(set(education_df.columns).intersection(set(enrollment_df.columns)))
print(set(education_df.columns).intersection(set(dropout_df.columns)))

set()
set()
set()
set()

In [24]:
# Merging the datasets using common keys ("state", "region", or "state/ut")
possible_keys = ['statname', 'region', 'state/ut']

common_key = None
for key in possible_keys:
    if key in education_df.columns:
        common_key = key
        print(f"\nUsing '{common_key}' as the common key for merging.")
        break

if common_key is None:
    raise KeyError('No common key ("statname", "region", or "state/ut") found in Education dataset.')

merged_df = education_df

for df in [literacy_df, internet_df, enrollment_df, dropout_df]:
    if common_key in df.columns:
        print(f"\nMerging on column: {common_key}")
        merged_df = merged_df.merge(df, on=common_key, how='inner')
    else:
        print(f"\nWarning: Common key '{common_key}' not found in dataset. Skipping this dataset.")

print('\nMerged Dataset Preview:')
display(merged_df.head())

Using 'statname' as the common key for merging.

Warning: Common key 'statname' not found in dataset. Skipping this dataset.

Warning: Common key 'statname' not found in dataset. Skipping this dataset.

Warning: Common key 'statname' not found in dataset. Skipping this dataset.

Warning: Common key 'statname' not found in dataset. Skipping this dataset.

Merged Dataset Preview:

,ac_year,statcd,distcd,statname,distname,districts,blocks,villages,clusters,totpopulat,...,uuni_all,uuni_sc,uuni_st,totcls1g,totcls2g,totcls3g,totcls4g,totcls5g,totcls6g,totcls7g
0,2015-16,1,101,JAMMU & KASHMIR,KUPWARA,1,13,391,104,875564.0,...,21322,26,2594,3489,5315,27,62,23,852,239
1,2015-16,1,102,JAMMU & KASHMIR,BARAMULA,1,18,678,144,1015503.0,...,17307,0,1571,4127,5800,210,53,30,1665,360
2,2015-16,1,103,JAMMU & KASHMIR,SRINAGAR,1,8,94,65,1269751.0,...,5444,31,408,817,3284,886,11,0,2873,40
3,2015-16,1,104,JAMMU & KASHMIR,BADGAM,1,13,523,104,735753.0,...,12469,18,857,2290,3837,119,45,8,1035,325
4,2015-16,1,105,JAMMU & KASHMIR,PULWAMA,1,8,359,64,570060.0,...,7408,17,855,1688,2584,151,67,5,1101,209

In [25]:
# Checking for any remaining missing values after merging
print('\nMissing Values after Merging:', merged_df.isnull().sum().sum())

Missing Values after Merging: 0

In [26]:
# Final Clean-Up
merged_df.dropna(inplace=True)
merged_df.drop_duplicates(inplace=True)

In [27]:
print('\nFinal Dataset Shape:', merged_df.shape)
print('\nFinal Dataset Columns:', merged_df.columns)

Final Dataset Shape: (625, 819)

Final Dataset Columns: Index(['ac_year', 'statcd', 'distcd', 'statname', 'distname', 'districts',
       'blocks', 'villages', 'clusters', 'totpopulat',
       ...
       'uuni_all', 'uuni_sc', 'uuni_st', 'totcls1g', 'totcls2g', 'totcls3g',
       'totcls4g', 'totcls5g', 'totcls6g', 'totcls7g'],
      dtype='object', length=819)

In [28]:
# Saving the cleaned and merged dataset for Power BI
merged_df.to_csv('/content/drive/MyDrive/Major_Project/Cleaned_Merged_Dataset.csv', index=False)
print('\nCleaned and Merged Dataset saved successfully.')

Cleaned and Merged Dataset saved successfully.